$black:#242424;
$white:rgb(255, 255, 255);
$gray:#373737;
$light-gray:#f7f7f7;
$yellow: #edd050;

$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

